{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container text-center py-5">
    <h1>Bienvenue chez Real Sound !</h1>
</div>
<div class="container p-5" id="description">
    Bienvenue chez Real Sound, le disquaire de référence pour les amateurs de musique authentique et de vinyles de
    qualité. Niché au cœur de la ville, Real Sound est un sanctuaire pour ceux qui cherchent à se connecter avec la
    musique d’une manière plus tangible et intime.

    Dès que vous franchissez la porte, vous êtes accueilli par l’odeur envoûtante du vinyle et le son chaleureux
    d’un classique du jazz joué sur une platine vintage. Les murs sont tapissés d’affiches de concerts mythiques et
    de pochettes d’albums emblématiques, tandis que des rangées de bacs en bois regorgent de trésors cachés et de
    nouveautés.

    Chez Real Sound, chaque album est sélectionné avec soin par des connaisseurs passionnés, prêts à partager leurs
    connaissances et à vous guider dans votre quête du vinyle parfait. Que vous soyez à la recherche d’un album de
    rock psychédélique des années 70, d’un EP de house underground ou d’une édition limitée d’un artiste
    contemporain, vous trouverez votre bonheur ici.

    Le propriétaire, un ancien musicien devenu collectionneur, a créé un espace où la musique est plus qu’un simple
    produit – c’est une expérience, un art de vivre. Avec des écoutes organisées chaque semaine et des rencontres
    avec des artistes locaux, Real Sound est plus qu’un magasin ; c’est une communauté vibrante où la passion pour
    la musique crée des liens indéfectibles.

    Alors, que vous soyez un collectionneur aguerri ou un novice curieux, poussez la porte de Real Sound et
    laissez-vous emporter par la magie du vinyle. Ici, la musique n’est pas seulement entendue, elle est ressentie.
</div>
{% endblock %}
